<h4>About</h4>
<p>Name: Han Hoang</p>
<p>PSID: 2088807</p>
<p>
<strong>Flight Management System</strong> is a Javascript-based web application that allows users to view,
create, update and delete any information about flights, boarding and airplanes. In addition, in
boarding tab, you can view extra information of the boarding gate and in airplane tab, you can
view extra information of maintenance, service of the airplane
</p>
<hr>
<h4>Links</h4>
<ul>
  <li>
    <a href="https://drive.google.com/file/d/1meGR5P9hKDkYXmYM-EPzM1OpDS5eVfdo/view?usp=sharing">Read me</a>
  </li>
  <li>
    <a href="https://youtu.be/9MxbZRGW0Js">Demo video</a>
  </li>
  <li>
    <a href="https://drive.google.com/file/d/1T05e3MTYYzrNlAL6OIz0Z0oDPyFRvSs0/view?usp=sharing">ER Diagram</a>
  </li>
  
</ul>